<div id="<%= dom_id event %>">
  <p>
    <strong>Nombre:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= event.description %>
  </p>

</div>
